*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

body {
    background-color: rgb(237, 154, 154);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.negro{
    background-color: rgb(224, 101, 101);
}

.blanco{
    background-color: white;
}