@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    ---hdrFtrClr: rgb(0, 162, 255);
    ---fuenteImportada: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ---clrDivs: rgb(141, 193, 241);
    ---brdrRadio: 15px;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(---hdrFtrClr);
}

.title {
    font-family: var(---fuenteImportada);
    font-size: 30px;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    display: flex;
}

ul li a{
    margin: 5px;
    text-decoration: none;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-template-areas: 
    'aside flex'
    'aside flex';
    gap: 15px;
    margin: 15px;
}

.bienvenido{
    grid-area: aside;
    background-color: var(---clrDivs);
    border-radius: var(---brdrRadio);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    grid-area: flex;

}

.uno{
    background-color: var(---clrDivs);
    margin: 0 0 15px 0;
    height: 49%;
    padding: 10px;
    border-radius: var(---brdrRadio);
}

.dos{
    background-color: var(---clrDivs);
    height: 49%;
    padding: 10px;
    border-radius: var(---brdrRadio);
}

footer {
    display: flex;
    background-color: var(---hdrFtrClr);
    padding: 15px;
    justify-content: center;
}

@media (width > 480px) and (width < 768px) {
 header {
    flex-direction: column;
 }

 .grid {
    display: flex;
    flex-direction: column;
 }

.uno {
    margin: 0 15px 0 0;
}

 .flex {
    height: auto;
    flex-direction: row;
    justify-content: space-around;
 }
}

@media (width < 480px){
    header {
        flex-direction: column;
     }
     nav ul {
        flex-direction: column;
     }
    .grid {
        display: flex;
        flex-direction: column;
     }
    
    
    
     .flex {
        height: auto;
        align-items: center;
        justify-content: space-around;
     }
}
